@import 'tailwindcss' theme(static);

@source '../views/';
@source '../../app/';

@plugin 'flowbite/plugin';

@source '../node_modules/flowbite';

@theme {
  --font-sans: 'Fira Sans', sans-serif;
  --font-serif: 'EB Garamond', serif;
  --font-display: 'DM Serif Display', serif;
  --default-font-family: var(--font-sans);
  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-gray-light: #eaeaea;
  --color-gray-medium: #8c8c8c;
  --color-gray-dark: #444;
  --color-fg-light: #fffc;
  --color-fg-dark: #000c;
  --color-primary: #275186;
  --color-secondary: #e11d48;
}

:root :where(.is-layout-constrained) > * {
  margin-block: 0;
}

a {
  text-decoration: none;
}
